@model YellowPages.Models.CompanyModel

<div>
    <h4>CompanyModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Country.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>

           @* <img src="~/Content/monomachine.png" />*@
            <img src="~/Content/@Model.Logo" alt="Logo" />
           
         
        </dd>
        

</dl>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.People)
    {
        <tr>
            @*<td>
                @Ajax.ActionLink(item.Name, "CompanyDetails", new { id = item.Id },
              new AjaxOptions { UpdateTargetId = "details" }, new { id = item.Id + "detailsLink" })


              
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

        </tr>
    }
    </table>
