@model YellowPages.Models.DisplaySearchResultModel
@{
    ViewBag.Title = "Home Page";

    var searchresults = @Model.Companies;
}

<div class="row">
    <div class="column small-12"><h1>SEARCH</h1><hr></div>
</div>
@using (Ajax.BeginForm("SearchRequest", "Home",
    new AjaxOptions { UpdateTargetId = "searchResult", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" },
    new { @class = "" }))
{
    <div class="row">

        <div class="column small-12">
            @Html.RadioButtonFor(model => model.Option, "company")<span>Companies</span>
            @Html.RadioButtonFor(model => model.Option, "people")<span>People</span>
            @Html.RadioButtonFor(model => model.Option, "product")<span>Products</span>
        </div>
    </div>
    <div class="row">
        <div class="column small-4">
            @Html.TextBoxFor(model => model.SearchString, "searchtext")
        </div>

        <div class="column small-4">
            <button class="button round  fa fa-search" id="Button1" type="submit"></button>
        </div>
        <div class="column small-4"></div>
    </div>

}

@if (searchresults != null)
{
    <div class="row">
        <div id="searchResult" class="small-12 columns">
            <table class=" table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Companies)
                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                            </tr>
                }
            </table>
        </div>
    </div>
}